body {
    background-color: white;
}

p {
    color: #42282E;
    font-size: 24px;
}

.no-display {
    display: none;
}

.center {
    margin: auto;
    padding: 10px;
    padding-left:50px;
    padding-right:50px;
    text-align: center;
    font-size: 14px;
}

.title {
    font-size: 48px;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #42282E;
}

.content {
    margin-top: 10em;
}

.analyze {
    margin-top: 5em;
}

.upload-label {
    padding: 10px;
    font-size: 12px;
}

.result-label {
    margin-top: 0.5em;
    padding: 10px;
    font-size: 13px;
}

button.choose-file-button {
  width: 200px;
  height: 40px;
  border-radius: 2px;
  background-color: white;
  border: solid 2px #75A48B;
  font-size: 13px;
  color: #75A48B;
}

button.analyze-button {
    width: 200px;
    height: 40px;
    border: solid 2px #75A48B;
    border-radius: 2px;
    background-color: #75A48B;
    font-size: 13px;
    color: white;
}

button:focus {outline:0;}
